{% apply spaceless %}
<!DOCTYPE html>
<html lang="es-ES">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/png" href="https://www.uca.es/wp-content/themes/theme_main_uca/images/logos/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="https://www.uca.es/wp-content/themes/theme_main_uca/images/logos/favicon-32x32.png" sizes="32x32">
		<link rel="stylesheet" type="text/css" href="https://jenil.github.io/bulmaswatch/united/bulmaswatch.min.css">
		{% block head %}
			<title>
				{% block title %}{% endblock %}
				- Encuesta</title>
			<script defer src="js/tools.js"></script>
		{% endblock %}
	</head>
	<body>
		<!-- NavBar -->
		<nav class="columns is-vcentered">
			<div class="column is-3 is-centered">
				<figure class="image" style="padding:1rem;">
					<img src="assets/img/uca.png" alt="Logo-UCA">
				</figure>
			</div>
			<div class="column is-9 is-centered">
				<h1 class="title has-text-centered"> {% block headertitle %}{% endblock %}
					</h1>
				</div>
			</nav>
			<section style="padding:1.5rem;"> {% block content %}{% endblock %}
				</section>
			</body>
		</html>
		{% endapply %}
