body {
    margin: 0px;
}

.nav-bar{
    display: flex;
    align-content: space-around;
    align-items: center;
    margin: .5rem .5rem;
}

.title {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.subject-code {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    border-top: .15rem solid orange;
    border-left: .15rem solid orange;
}

#titulacion, #subject, #group {
    padding: .5rem;
    text-align: center;
    border-bottom: .15rem solid orange;
    border-right: .15rem solid orange;
}

#titulacion> h3, #subject> h3, #group > h3 {
    margin: .4rem;
}

#titulacion> select, #subject> select, #group > select {
    width: 100%;
}

.student-info {
    display: flex;
    flex: 1;
    margin-left: 5rem;
    border-style: solid;
    border-width: .15rem;
    border-color: orange;
    background-color: antiquewhite;
    border-radius: 1.5rem;
    padding: 1.2rem;
    flex-direction: column; 
}

.student-info h3 {
    margin: 0px;
    margin-bottom: .75rem;
}