{% extends "layout/app.twig" %}
{% block title %}
	Admin
{% endblock %}
{% block head %}{% endblock %}

{% block headertitle %}
	Apartado del administrador
{% endblock %}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-5-tablet is-4-desktop is-3-widescreen">
				<form action="" class="box">
					<div class="field">
						<label for="" class="label">Email</label>
						<div class="control">
							<input type="email" placeholder="e.g. bobsmith@gmail.com" class="input is-primary" required>
						</div>
					</div>
					<div class="field">
						<label for="" class="label">Password</label>
						<div class="control">
							<input type="password" placeholder="*******" class="input is-primary" required>
						</div>
					</div>
					<div class="field">
						<label for="" class="checkbox">
							<input type="checkbox">
							Remember me
						</label>
					</div>
					<div class="field">
						<button class="button is-primary is-fullwidth">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
