<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Encuesta</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
	</head>
	<body>
		<!-- NavBar -->
		<nav class="columns is-vcentered">
			<div class="column is-3 is-centered">
				<figure class="image">
					<img src="assets/img/logo.png" alt="Logo-UCA" height="60px">
				</figure>
			</div>
			<div class="column is-9 is-centered">
				<h1 class="title has-text-centered">Encuesta de opinión de los/as estudiantes sobre la labor docente del profesorado</h1>
			</div>
		</nav>
		<section class="section">
			<form>
				<div class="columns">
					<div class="column is-2">
						<div class="box is-flex" style="flex-direction:column;height:100%;">{% include "degree-info.twig" %}</div>
					</div>
					<div class="column is-10">
						<div class="box">{% include "student-info.twig" %}</div>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="box">BOX</div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
