{% extends "layout/app.twig" %}
{% block title %}
	Login
{% endblock %}
{% block head %}
	{{parent()}}
{% endblock %}

{% block headertitle %}
	Apartado del administrador
{% endblock %}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-5-tablet is-4-desktop is-3-widescreen">
				<form action="/login" method="POST" class="box">
					<div class="field">
						<label for="" class="label">Email</label>
						<div class="control">
							<input name="email" type="email" placeholder="e.g. bobsmith@gmail.com" class="input is-primary" required>
						</div>
					</div>
					<div class="field">
						<label for="" class="label">Password</label>
						<div class="control">
							<input name="password" type="password" placeholder="*******" class="input is-primary" required>
						</div>

					</div>
					{% if errors %}
						<p class="help is-danger">{{ errors }}</p>
					{% endif %}
					<div class="field">
						<input type="submit" class="button is-primary is-fullwidth" value="Entrar">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
