<form action="/" method="POST">
	<div class="columns">
		<div class="column is-2 is-flex">
			<div class="box is-flex" style="flex-direction:column;flex:1;/*justify-content:space-around;*/">{% include "form/degree-info.twig" %}</div>
		</div>
		<div class="column is-10">
			<div class="box">{% include "form/student-info.twig" %}</div>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<div class="box is-flex" style="flex-direction:column;flex:1;">{% include "form/questions.twig" %}</div>
		</div>
	</div>
	<div class="columns">
		<div class="column">
			<div class="box is-flex" style="flex-direction:row;justify-content: space-between;flex:1;">
				<div class="control">
					<a class="button is-light" href="/login">Admin</a>
				</div>
				<div class="control">
					<input type="submit" class="button is-primary" value="Enviar"/>
				</div>
			</div>
		</div>
	</div>
</form>
{% if errors.proffesors or errors.answers%}
	<script src="js/bulma-toast.min.js"></script>
	<script>
		bulmaToast.toast({
message: "{{ errors.proffesors }}" || "{{ errors.answers }}",
position: "top-center",
type: "is-danger",
duration: 3000,
dismissible: true
});
	</script>
{% endif %}
